@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
.bold {
  font-family: 'Poppins', sans-serif;
}

.blueShadow {
  box-shadow: 3px 3px 0 0 #93c5fd;
}

.specialBtn {
  background: white;
  box-shadow: 0px 14px 55px rgba(96, 165, 255, 0.35);
  transition-duration: 200ms;
}

.specialBtn:hover {
  opacity: 0.8;
}

.loading {
  animation: width 5s linear infinite;
  margin-right: auto;
}

.loading1 {
  animation-delay: -4s;
}

.loading2 {
  animation-delay: -2s;
}

@keyframes width {
  0%{width: 100%;}
  10%{width: 73%;}
  20%{width: 35%;}
  30%{width: 37%;}
  40%{width: 48%;}
  50%{width: 65%;}
  60%{width: 46%;}
  70%{width: 38%;}
  80%{width: 66%;}
  90%{width: 76%;}
  100%{width: 100%;}
}